<h1>Mechanic: <%= @mechanic.name %></h1>
<h2>Years of Experience: <%= @mechanic.experience %></h2>

<section id="current-rides">
  <h3>Current rides they're working on:</h3>
  <% @mechanic.rides.each do |ride| %>
    <%= ride.name %><br/>
  <% end %>
</section>

<h3>Add a ride to workload:</h3>
<%= form_tag "/mechanics/#{@mechanic.id}", method: :post do %>
  <%= label_tag :ride_id %>
  <%= text_field_tag :ride_id %>
  <%= submit_tag "Submit" %>
<% end %>